{% extends "SbSendboxBundle::layout.html.twig" %}
{% block stylesheets %}
  {{ parent() }}

  {% stylesheets
    '@SbSendboxBundle/Resources/public/css/fileuploader.css'
    'bundles/sbsendbox/css/chosen.css'
    filter='cssrewrite'
  %}
     <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
  {% endstylesheets %}
{% endblock %}
{% block javascripts %}
  {{ parent() }}
  {% javascripts
    '@SbSendboxBundle/Resources/public/js/plupload.js'
    '@SbSendboxBundle/Resources/public/js/plupload.html5.js'
    '@SbSendboxBundle/Resources/public/js/plupload.flash.js'
    '@SbSendboxBundle/Resources/public/js/chosen.jquery.min.js'
    '@SbSendboxBundle/Resources/public/js/jquery.scrollTo-1.4.2-min.js'
  %}
   <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}
{% block content %}
   
<h1 class="left" id="title">Post &amp; Send files</h1>
<div style="clear:both"></div>
<div class="publish">
  <form id="upload_form">
    <div id="uploader">
      <div id="pickfiles" title="Ajouter des fichiers" class="overflow" style="">No runtime found.</div>
      <div id="progress"><div class="upload-size"></div></div>
    </div>
    <div id="mailer">
      <input type="text" title="Votre email" name="fromMail" id="fromMail" rel="empty" value="Votre email" />
      <select data-placeholder="Liste des destinataires..." multiple="multiple" id="toMail" name="toMail" style="width:100%"></select><br />
      <button id="sendMail" class="btn btn-success disabled right" disabled="disabled">Envoyer <i class="icon-envelope icon-white"></i></button>
      <div class="clear"></div>
    </div>
  </form>
</div>
   <script>
    $("#fromMail").focus(function() {
      if($(this).val()=="Votre email"){ 
        $(this).val('');
      }
   });
   $("#fromMail").blur(function() {
      if($(this).val()==""){
        $(this).val('Votre email');
      }
   });
    
    var uploader = new plupload.Uploader({
      runtimes : 'html5,flash',
      flash_swf_url : '{{ asset('/bundles/sbsendbox/js/plupload.flash.swf') }}',
      browse_button : 'pickfiles',
      container: 'uploader',
      max_file_size : '1gb',
      chunk_size : '5mb',
      url : "{{ path('upload') }}"
    });

    uploader.bind('Init', function(up, params) {
      $('#pickfiles').html("");
      $('#pickfiles').append('<em style="text-align:center">Cliquez ici pour t&eacute;l&eacute;charger des fichiers</em>')
    });

    uploader.bind('FilesAdded', function(up, files) {
      for (var i in files) {
        $('#pickfiles').append('<span id="' + files[i].id + '" class="btn"><span>' + files[i].name + ' (' + plupload.formatSize(files[i].size) + ') <img src="" /></span></span>');
      }
    });

    uploader.bind('UploadProgress', function(up, file) {
      //$('#'+file.id).css('background-color', 'rgb('+(247-file.percent*156/100)+', '+(197-file.percent*13/100)+', '+(25+file.percent*66/100)+')');
      $('#'+file.id).css('border-color', 'rgba('+(197-file.percent*156/100)+', '+(147-file.percent*13/100)+', '+(25+file.percent*66/100)+', 0.5)');
      $('#progress .upload-size').css('width', up.total.percent+'%');
    });

    uploader.bind('QueueChanged', function(up) {
      $('#progress').css('display', 'block');
      $('#pickfiles em').hide();
      up.start();
      return false;
    });

    uploader.bind('UploadComplete', function(up, files) {
      $('#sendMail').removeAttr('disabled');
      $('#sendMail').removeClass('disabled');
    });

    uploader.bind('BeforeUpload', function(up, file) {
      $('#'+file.id+' img').attr('src', '{{ asset('/bundles/sbsendbox/images/mini-loader.gif') }}');
      $('#pickfiles').scrollTo($('#'+file.id));
      $('#'+file.id+'-loader').show();
    });

    uploader.bind('FileUploaded', function(up, file) {
      $('#'+file.id+' img').remove();
      $('#'+file.id).append('<i class="icon-ok"></i>');
    });

    uploader.init();
    
    $("#sendMail").click(function() {
      $.ajax({
        type: "post",
        url: "{{ path('send') }}",
        data: $('form').serialize(),
        success: function(msg){
          if(msg=="SUCCESS")
            $('.publish').html('Votre message a été correctement envoyé');
          else
            $('.publish').html(msg);
        }
      });
      return false;
    });

    loadFromStorage();
    $('#toMail').chosen({
      create_option: function(term) {
        var chosen = this;
        addToStorage(term);
        chosen.append_option({
          value: term,
          text: term
        });
      },
      persistent_create_option: true
    });

    function addToStorage(term)
    {
      var stored = localStorage.getItem('fiftysent');
      if (stored != null) {
        stored = stored.split(',');
        stored.push(term);
      }
      else {
        stored = [term];
      }
      localStorage.setItem('fiftysent', stored);
    }

    function loadFromStorage()
    {
      var stored = localStorage.getItem('fiftysent');
      if (stored != null) {
        stored = stored.split(',');
      }
      else {
        stored = [];
      }
      var options = [];
      for (i in stored) {
        var opt = document.createElement('option');
        opt.text = stored[i];
        opt.value = stored[i];
        options.push(opt);
      }
      $('#toMail').append(options);
    }
   </script>
{% endblock %}
