<div background="http://{{ app.request.host }}{{ asset('/bundles/sbsendbox/images/bg.png') }}" style="background-color:#fafafa;padding:20px">
  <div id="content" class="container" style="width: 550px;margin-right: auto;margin-left: auto;position: relative;margin: 0 auto;clear: both;height: 100%;zoom: 1">
    <div style="position:relative;top:5%;">
    <h1 class="left" id="title" style="margin: 0;font-family: sans-serif;font-weight: normal;color: #353333;text-rendering: optimizelegibility;font-size: 38px;line-height: 36px;padding: 0;border: 0;font-style: normal;float: left;margin-bottom: 18px">Download files</h1>
    <div style="clear:both"></div>
      <div class="publish" style="background: #FFF;border: 1px solid #E8E8E8;padding: 30px;min-height: 265px">
        <div class="file-list" style="width:300px;height:250px;margin:auto;overflow-y:auto;overflow-x:hidden">
          <ul style="margin: 0;padding: 0;list-style: none;border: 0;font-weight: normal;font-style: normal;font-size: 100%;line-height: 1;font-family: inherit">
            {% for file in files %}
              <li style="line-height: 18px;margin: 0;padding: 0;border: 0;font-weight: normal;font-style: normal;font-size: 100%;font-family: inherit;color: #808080">{{ file.name }} ({{ file.size }})</li>
            {% endfor %}
          </ul>
        </div>
        <div id="download" style="text-align: center">
          <a class="btn" href="{{ url('download', {'token': token}) }}" style="color: #3A77C2;text-decoration: none;display: inline-block;padding: 4px 10px 4px;margin-bottom: 0;font-size: 13px;line-height: 18px;text-align: center;text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);vertical-align: middle;cursor: pointer;background-color: #f5f5f5;background-image: -moz-linear-gradient(top, #fff, #e6e6e6);background-repeat: repeat-x;border: 1px solid #ccc;border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);border-bottom-color: #b3b3b3;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);margin: 0;font-weight: inherit;font-style: normal;font-family: inherit">Télécharger les fichiers ({{ size }})</a>
        </div>
      </div>
    </div>
  </div>
</div>