<form action="{{ path("fos_user_security_check") }}" method="post">
    <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
    <input type="text" id="username" size="12" name="_username" value="" /><br /><br />
    <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
    <input type="password" id="password" size="12" name="_password" /><br />
    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
    <input type="submit" id="_submit" name="_submit" class="btn" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
</form>
